<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Autenticação</title>
</head>
<body>
  <form action="./home.ejs" class="formulario" method="post">
    <label for="fname">Usuario:</label>
    <input type="text" id="usuario" name="" placeholder="coloque seu nome aqui"><br>
    <label for="lname">Senha:</label>
    <input type="text" id="senha" name="" placeholder="coloque sua senha aqui"><br><br>
    <button type="submit">Enviar</button>
  </form> 
   
</body>
</html>